@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;

800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Raleway:wght@500;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

:root {
  --green: #337D5A;
  --lightfreen: #93B474;
  --darkblue: #1A2F3F;
  --grey: #8A8A8A;
}

html,
body,
.app {
  width: 100%;
  height: 100%;
}

body {
  color: car(--darkblue, #1A2F3F);
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  line-height: 20px;
}

.app-wrapper {
  margin: auto;
  height: 100%;
  width: 100%;
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  height: auto;
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 5;
  background-color: white;
}

.header-wrapper {
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 360px;
  margin: auto;
}

.header .sale-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F5F5F580;
}

.header-text {
  margin-right: 25px;
  margin-left: 25px;
  color: var(--green);
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px var(--green) solid;
}

.header-leng {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-leng #leng {
  width: 44px;
  height: 40px;
  background-color: #F5F5F580;
  margin: auto;
  font-weight: 500;
}

.header-leng #leng:hover {
  border: 1px var(--lightfreen) solid;
}

.header-leng #leng:focus {
  border: 1px var(--lightfreen) solid;
}

.header-main {
  width: 100%;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  padding: 12px 0;
}

.header .sale2,
.header .sale {
  border-top: 1px lightgray solid;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: var(--green);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.header .sale2 p,
.header .sale p {
  margin: auto;
}

.header-purchase2 {
  display: none;
}

.number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
}

.number-container-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-left: 5px;
  font-size: 12px;
}

.number-container-text > span {
  color: var(--green);
}

.number-container-img {
  width: 10px;
  height: 10px;
}

#nav {
  width: 100%;
  position: absolute;
  top: -800px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 2;
}

#nav .nav__item {
  font-size: 15px;
  font-weight: 500;
  display: block;
  text-decoration: none;
  color: var(--darkblue);
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#nav .nav__item:hover {
  color: white;
  background-color: var(--green, #337D5A);
}

#nav .show {
  top: 0;
}

#nav .nav-reg-field {
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--darkblue);
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
}

#nav .nav-reg-field .reg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav .nav-reg-field .reg-wrapper > a {
  display: block;
  text-decoration: none;
  color: var(--darkblue);
}

#nav .nav-reg-field .reg-wrapper > img {
  margin-right: 5px;
}

#nav .nav-reg-field .reg-wrapper > a:last-child {
  margin-left: 20px;
}

#nav .nav-reg-field .reg-wrapper > a:hover {
  border-bottom: 1px var(--lightfreen) solid;
}

#nav .nav-reg-field .socialnet-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#nav .nav-reg-field .socialnet-wrapper a svg path {
  fill: black;
}

#nav .nav-reg-field .socialnet-wrapper a:hover svg path {
  fill: var(--lightfreen);
}

.mibile-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}

.nav-btn-open,
.nav-btn-close {
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.nav-btn-open img,
.nav-btn-close img {
  width: 20px;
  height: 18px;
}

.main-genpage {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.main-genpage .firstslide {
  width: 100%;
  height: 600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-genpage .firstslide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/firstslideBanner.png");
  background-position: center;
  background-size: cover;
}

.main-genpage .firstslide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 40px;
  width: auto;
  color: white;
  font-weight: 800;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.main-genpage .firstslide-content p {
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 14px;
}

.main-genpage .firstslide-content-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.288);
}

.main-genpage .firstslide-content a:hover circle {
  fill: var(--green);
  stroke: var(--green);
}

.main-genpage .secondslide {
  color: var(--darkblue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-genpage .secondslide-btn {
  margin: 40px 0;
  width: 200px;
  height: 50px;
  border: 1px var(--green) solid;
  background-color: white;
  color: var(--green);
}

.main-genpage .secondslide-btn:hover {
  background-color: var(--green);
  color: white;
}

.main-genpage .secondslide h1 {
  font-size: 45px;
  font-weight: 800;
  padding-top: 90px;
}

.main-genpage .secondslide .secondslide-text {
  padding: 50px 0;
  font-weight: 500;
  font-size: 18px;
}

.main-genpage .secondslide-wrapper {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  height: auto;
}

.main-genpage .secondslide-wrapper .swiper {
  margin: auto;
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide {
  width: 360px;
  height: 530px;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-img {
  width: 100%;
  height: 265px;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-img .swiper-button-prev,
.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-img .swiper-button-prev-unique,
.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-img svg {
  background-image: url("../img/leftarrow.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(0, 0, 0, 0);
  top: 25%;
  opacity: 0;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-img .swiper-button-next,
.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-img .swiper-button-next-unique {
  background-image: url("../img/rightarrow.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(0, 0, 0, 0);
  top: 25%;
  opacity: 0;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-img img {
  margin: auto;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info {
  width: 100%;
  height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper {
  padding: 10px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper h5 {
  font-size: 18px;
  font-weight: 700;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper p {
  padding: 0;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .art {
  color: gray;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .infnuts {
  text-align: start;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info_weight,
.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info_pac {
  font-family: "Montserrat", sans-serif;
  width: 80px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info_weight p,
.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info_pac p {
  color: grey;
  font-weight: 600;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info_weight .weight-num,
.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info_weight .pac-type,
.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info_pac .weight-num,
.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info_pac .pac-type {
  font-weight: 700;
  color: var(--green);
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info_weight img,
.main-genpage .secondslide-wrapper .swiper .swiper-slide .slide-info-wrapper .pac-info_pac img {
  margin-right: 4px;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .price {
  border-top: 1px gray solid;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .price p {
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .price p > span:first-child {
  color: var(--green);
  font-size: 20px;
  font-weight: 600;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .price p > span:last-child {
  color: gray;
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide .price button {
  width: 120px;
  height: 40px;
  background-color: var(--green);
  color: white;
  margin-right: 10px;
  font-weight: 700;
  font-size: 14px;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide:hover {
  border: 2px var(--lightfreen) solid;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide:hover .slide-img .swiper-button-next,
.main-genpage .secondslide-wrapper .swiper .swiper-slide:hover .slide-img .swiper-button-prev,
.main-genpage .secondslide-wrapper .swiper .swiper-slide:hover .slide-img .swiper-button-next-unique,
.main-genpage .secondslide-wrapper .swiper .swiper-slide:hover .slide-img .swiper-button-prev-unique {
  opacity: 1;
}

.main-genpage .secondslide-wrapper .swiper .swiper-slide:hover .slide-img .zoom {
  opacity: 1;
}

.main-genpage .secondslide-wrapper .swiper .stock {
  top: 3%;
  position: absolute;
}

.main-genpage .secondslide-wrapper .swiper .zoom {
  position: absolute;
  top: 20%;
  left: 45%;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 0;
}

.main-genpage .thirdslide {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #faf3e7;
}

.main-genpage .thirdslide-wrapper {
  margin: auto;
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-genpage .thirdslide-wrapper h1 {
  margin-bottom: 40px;
}

.main-genpage .thirdslide-text {
  margin-bottom: 40px;
}

.main-genpage .thirdslide-text p {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 500;
}

.main-genpage .thirdslide-text p span {
  color: var(--green);
}

.main-genpage .thirdslide-text button {
  width: 170px;
  height: 50px;
  background-color: white;
  color: var(--green);
  border: 1px var(--green) solid;
}

.main-genpage .thirdslide-text button:hover {
  background-color: var(--green);
  color: white;
}

.main-genpage .thirdslide-video {
  width: 360px;
  height: 400px;
  position: relative;
}

.main-genpage .thirdslide-video .myThirdSwiper {
  width: 100%;
  height: 100%;
}

.main-genpage .thirdslide-video .myThirdSwiper .swiper-wrapper > .swiper-slide {
  position: relative;
}

.main-genpage .thirdslide-video .myThirdSwiper .swiper-button-prev {
  color: rgba(0, 0, 0, 0);
  left: 0;
}

.main-genpage .thirdslide-video .myThirdSwiper .swiper-button-next {
  color: rgba(0, 0, 0, 0);
}

.main-genpage .thirdslide-video .myThirdSwiper .swiper-button-prev::after,
.main-genpage .thirdslide-video .myThirdSwiper .swiper-button-next::after {
  font-size: 0;
}

.main-genpage .thirdslide-video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/tractor.png");
  background-position: center;
  background-size: cover;
}

.main-genpage .thirdslide-video a {
  position: absolute;
  top: 40%;
  left: 43%;
}

.main-genpage .thirdslide-video-nav {
  width: 140px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0;
}

.main-genpage .thirdslide-video-nav div {
  width: 70px;
  height: 50px;
  background-color: var(--green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.main-genpage .thirdslide-video-nav div svg {
  margin: auto;
}

.main-genpage .thirdslide-video-nav div path {
  fill: rgba(255, 255, 255, 0.589);
}

.main-genpage .thirdslide-video-nav div:hover path {
  fill: white;
}

.main-genpage .measuring {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-genpage .measuring-wrapper {
  width: 100%;
  max-width: 1000px;
  margin-top: 70px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 2;
}

.main-genpage .measuring_part {
  width: 300px;
  height: 120px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.main-genpage .measuring_part .measuring-main {
  font-weight: 800;
  font-size: 72px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.main-genpage .measuring_part .measuring-main sup {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.main-genpage .fourthslide {
  width: 100%;
  height: 700px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-genpage .fourthslide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/GenAim.png");
  background-position: center;
  background-size: cover;
}

.main-genpage .fourthslide_content-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.main-genpage .fourthslide_content-wrapper h1 {
  font-size: 20px;
  text-align: center;
}

.main-genpage .fourthslide_content-wrapper a {
  margin-top: 100px;
  margin-bottom: 20px;
}

.main-genpage .fourthslide_content-wrapper p {
  font-style: italic;
}

.main-genpage .fifthslide {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-genpage .fifthslide-wrapper {
  margin: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.main-genpage .fifthslide-wrapper p {
  margin-top: 80px;
  margin-bottom: 100px;
  max-width: 500px;
}

.main-genpage .fifthslide_slides {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-genpage .fifthslide_slides .slide {
  width: 360px;
  height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main-genpage .fifthslide_slides .nut-wrapper {
  width: 100%;
  height: 100%;
  color: white;
  z-index: 1;
}

.main-genpage .fifthslide_slides .nut-wrapper .preview {
  position: absolute;
  top: 30%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s all ease;
  -o-transition: 0.7s all ease;
  transition: 0.7s all ease;
}

.main-genpage .fifthslide_slides .nut-wrapper .preview img {
  width: 60px;
  height: 62px;
}

.main-genpage .fifthslide_slides .nut-wrapper .preview .nut-content {
  margin: 0;
  margin-top: 20px;
  width: 300px;
  opacity: 0;
  -webkit-transition: 0.7s all ease;
  -o-transition: 0.7s all ease;
  transition: 0.7s all ease;
  visibility: hidden;
}

.main-genpage .fifthslide_slides .nut-wrapper:hover {
  opacity: 0.9;
}

.main-genpage .fifthslide_slides .nut-wrapper:hover .preview {
  top: 20%;
  left: 10%;
}

.main-genpage .fifthslide_slides .nut-wrapper:hover .preview .nut-content {
  opacity: 1;
  visibility: visible;
}

.main-genpage .fifthslide_slides .slide:nth-child(3) > .nut-wrapper:hover {
  background-color: #f34545;
}

.main-genpage .fifthslide_slides .slide:nth-child(1) > .nut-wrapper:hover {
  background-color: var(--green);
}

.main-genpage .fifthslide_slides .slide:nth-child(2) > .nut-wrapper:hover {
  background-color: #691e1e;
}

.main-genpage .fifthslide_slides .slide:nth-child(3) > .nut-wrapper:hover {
  background-color: #f34545;
}

.main-genpage .fifthslide_slides .walnut {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/walnut.png");
  background-position: center;
  background-size: cover;
}

.main-genpage .fifthslide_slides .hazelnut {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/hazelnut.png");
  background-position: center;
  background-size: cover;
}

.main-genpage .fifthslide_slides .rosehip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/rosehip.png");
  background-position: center;
  background-size: cover;
}

.main-genpage .sixthslide {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main-genpage .sixthslide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/ecoBack.png");
  background-position: center;
  background-size: cover;
}

.main-genpage .sixthslide-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-genpage .sixthslide-wrapper h1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.main-genpage .sixthslide-wrapper p {
  max-width: 500px;
}

.main-genpage .seventhslide {
  width: 100%;
  height: 900px;
  background-color: #faf3e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-genpage .seventhslide-wrapper {
  width: 1100px;
  min-width: 360px;
  height: 100%;
  padding: 100px 0;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-genpage .seventhslide-nav {
  display: none;
}

.main-genpage .seventhslide-title p {
  margin-top: 40px;
  margin-bottom: 60px;
}

.main-genpage .seventhslide .news-wrapper {
  height: auto;
  margin: auto;
  margin-top: 20px;
  width: 360px;
}

.main-genpage .seventhslide .news-wrapper button {
  width: 220px;
  height: 50px;
  margin: 50px 0;
  color: var(--green);
  border: 1px solid var(--green);
  background-color: white;
}

.main-genpage .seventhslide .news-wrapper button:hover {
  background-color: var(--green);
  color: white;
}

.main-genpage .seventhslide .news-slide {
  width: 360px;
  height: 500px;
  background-color: white;
}

.main-genpage .seventhslide .news-slide:hover .watch {
  opacity: 1;
}

.main-genpage .seventhslide .news-img {
  width: 100%;
  height: 205px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-genpage .seventhslide .watch {
  opacity: 0;
  -webkit-transition: 0.7s all ease;
  -o-transition: 0.7s all ease;
  transition: 0.7s all ease;
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 40%;
}

.main-genpage .seventhslide .watch:hover circle {
  fill: var(--green);
  stroke: var(--green);
}

.main-genpage .seventhslide .watch:hover path {
  fill: white;
}

.main-genpage .seventhslide .news-bg1,
.main-genpage .seventhslide .news-bg2,
.main-genpage .seventhslide .news-bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/news1.png");
  background-position: center;
  background-size: cover;
}

.main-genpage .seventhslide .news-bg2 {
  background-image: url("../img/news2.png");
}

.main-genpage .seventhslide .news-bg3 {
  background-image: url("../img/news3.png");
}

.main-genpage .seventhslide .news-info {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-genpage .seventhslide .news-info_date {
  color: gray;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.main-genpage .seventhslide .news-info_text {
  margin-bottom: 10px;
}

.main-genpage .seventhslide .news-info h3 {
  margin-bottom: 10px;
}

.main-genpage .seventhslide .news-info a {
  text-decoration: none;
  color: var(--green);
}

.main-genpage .contacts {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-genpage .contacts-wrapper {
  min-width: 360px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin: 40px 0;
}

.main-genpage .contacts-wrapper h1 {
  text-align: center;
  margin-bottom: 40px;
}

.main-genpage .contacts-wrapper img {
  margin-right: 20px;
}

.main-genpage .contacts-wrapper .img-wrap {
  margin-left: 20px;
}

.main-genpage .contacts-wrapper .img-wrap img {
  margin: 0;
}

.main-genpage .contacts-wrapper .numbers,
.main-genpage .contacts-wrapper .email,
.main-genpage .contacts-wrapper .office,
.main-genpage .contacts-wrapper .production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-genpage .contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-genpage .contacts .map-wrapper {
  width: 360px;
  height: 400px;
  position: relative;
}

.main-genpage .contacts .map-wrapper .map {
  margin-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/map.png");
  background-position: center;
  background-size: cover;
}

.footer {
  width: 100%;
  height: auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrapper {
  width: 1300px;
  min-width: 360px;
  margin: auto;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top .nav__item {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  display: block;
  text-decoration: none;
  color: var(--darkblue);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
}

.footer-top .nav__item:hover {
  color: var(--lightfreen);
  border-bottom: 1px solid var(--green);
}

.footer .socialnet-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .socialnet-wrapper a svg path {
  fill: black;
}

.footer .socialnet-wrapper a:hover svg path {
  fill: var(--lightfreen);
}

.footer-bot {
  height: 50px;
  font-family: "Montserrat", sans-serif;
  color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bot span {
  color: var(--green);
}

.store-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/storeMainpic.png") !important;
  background-position: center;
  background-size: cover;
}

.store-firstslide_path {
  z-index: 2;
  position: absolute;
  margin-top: 100px;
  left: 30%;
  color: white;
}

.store-firstslide_path a {
  text-decoration: none;
  color: white;
}

.store-filter_discard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-filter_discard p {
  color: gray;
}

.store-filter_discard button {
  width: 140px;
  height: 50px;
  color: var(--green);
  border: 1px solid var(--green);
  background-color: white;
  margin-right: 20px;
}

.store-filter_discard button:hover {
  background-color: var(--green);
  color: white;
}

.store-filter_discard .discard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.store-video {
  background-image: url("../img/ecoNut.png") !important;
}

.filter {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}

.filter-wrapper {
  max-width: 1300px;
  min-width: 360px;
  width: 100%;
  margin: auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-wrapper .selectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
}

.filter-wrapper .selectors select {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  margin-right: 10px;
}

.filter-wrapper .set-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutprod-bg {
  background-image: url("../img/AboutProdMain.png") !important;
}

.aboutprod-th {
  background-color: white !important;
}

.aboutprod-video-bg {
  background-image: url("../img/tractorAboutProd.png") !important;
}

.ceo {
  background-color: #F5F5F580;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ceo-wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ceo-wrapper h1 {
  margin: 20px 0;
}

.ceo-wrapper p {
  margin: 10px 0;
}

.ceo-wrapper button {
  width: 140px;
  height: 50px;
  color: var(--green);
  border: 1px solid var(--green);
  background-color: white;
  margin-right: 20px;
}

.ceo-wrapper button:hover {
  background-color: var(--green);
  color: white;
}

.ceo-img {
  width: 360px;
}

.ceo-bio_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ceo-hist {
  max-width: 400px;
  width: 100%;
  margin: 40px 0;
  padding: 5px;
  color: white;
  background-color: var(--green);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery h1 {
  margin-bottom: 20px;
}

.gallery p {
  margin-bottom: 40px;
}

.GallerySwiper {
  display: none;
  width: 100%;
  height: 500px;
  margin: 40px 0;
}

.GallerySwiper .swiper-button-prev {
  background-image: url("../img/leftarrow.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(0, 0, 0, 0);
  top: 50%;
}

.GallerySwiper .swiper-button-next {
  background-image: url("../img/rightarrow.svg") !important;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(0, 0, 0, 0);
  top: 50%;
}

.gal-paris {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}

.gal-paris .paris-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/paris.png");
  background-position: center;
  background-size: cover;
}

.gal-paris .paris-text {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: var(--green);
  opacity: 0;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
}

.gal-paris .paris-text h1 {
  padding: 20px 0;
}

.gal-paris:hover .paris-text {
  visibility: visible;
  opacity: 0.7;
}

.gal {
  position: relative;
  margin-bottom: 20px;
}

.gal-bg_1,
.gal-bg_2,
.gal-bg_3 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.gal-bg_1 {
  background-image: url("../img/31369387_2036861629973830_1551093358384906240_n.png");
}

.gal-bg_2 {
  background-image: url("../img/18486269_1839835346343127_5136332177536426668_n.png");
}

.gal-bg_3 {
  background-image: url("../img/32423423423432.png");
}

.gal-wrapper {
  margin: auto;
  max-width: 1300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gal-wrapper .f-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gal-wrapper .f-row .gal-paris {
  min-width: 500px;
  width: 100%;
  height: 400px;
}

.gal-wrapper .f-row .gal {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

.gal-wrapper .s-row {
  width: 100%;
}

.gal-wrapper .s-row .gal-pic {
  position: relative;
  min-width: 901px;
  width: 100%;
  height: 400px;
}

.gal-wrapper .s-row .gal-pic div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 500px;
  top: 65%;
  left: 31%;
  position: absolute;
  color: white;
  z-index: 2;
}

.gal-wrapper .s-row .gal-pic .pic-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/gal2321312323.png");
  background-position: center;
  background-size: cover;
}

.gal-wrapper .t-row {
  width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gal-wrapper .t-row .gal {
  width: 100%;
  height: 400px;
  min-width: 300px;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
}

.gal-wrapper .t-row .gal .man {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/man.png");
  background-position: center;
  background-size: cover;
}

.gal-wrapper .t-row .gal:last-child {
  margin-right: 0;
}

.aboutprod-six_bg {
  background-image: url("../img/13.png") !important;
}

@media (min-width: 360px) {
  .main-genpage .firstslide-content p {
    width: 360px;
  }
}

@media (min-width: 400px) {
  .store-firstslide_path {
    left: 50px;
  }
}

@media (min-width: 500px) {
  .main-genpage .fifthslide-wrapper .prod-title {
    font-size: 45px;
  }
}

@media (min-width: 576px) {
  .filter-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .filter-wrapper .selectors {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  .header .number-container {
    display: none;
  }

  .header-text {
    display: none;
  }

  .header-top {
    padding-left: 5px;
    padding-right: 5px;
  }

  .header-top .sale {
    border: none;
  }

  .header .socialnet-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    width: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header .socialnet-wrapper a svg path {
    fill: black;
  }

  .header .socialnet-wrapper a:hover svg path {
    fill: var(--lightfreen);
  }

  .header .reg-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .reg-wrapper > a {
    display: block;
    text-decoration: none;
    color: var(--darkblue);
  }

  .header .reg-wrapper > img {
    margin-right: 5px;
  }

  .header .reg-wrapper > a:last-child {
    margin-left: 20px;
  }

  .header .reg-wrapper > a:hover {
    border-bottom: 1px var(--lightfreen) solid;
  }

  .header .nav-btn {
    display: none;
  }

  .header .header-contacts_num {
    font-family: "Montserrat", sans-serif;
    color: var(--darkblue);
    font-weight: 600;
    font-size: 12px;
    margin-left: 20px;
  }

  .header .header-contacts_num span {
    color: var(--green);
  }

  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #b1b1b1;
    text-align: center;
  }

  .header-order p {
    width: 150px;
  }

  .header-order button {
    width: 150px;
    height: 50px;
    min-width: 40px;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    color: white;
    background-color: var(--green);
  }

  .header-order button:hover {
    color: var(--lightfreen);
  }

  .header .sale2 {
    display: none;
  }

  .main-genpage .secondslide .secondslide-text {
    width: 615px;
  }
}

@media (min-width: 800px) {
  #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid lightgrey;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 148px;
    width: 100%;
    height: auto;
    min-width: 360px;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  #nav .nav-wrapper {
    width: 1300px;
    padding: 0 40px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  #nav .nav-reg-field {
    display: none;
  }

  #nav .nav__item {
    font-size: 15px;
    font-weight: 500;
    display: block;
    width: auto;
    height: 30px;
    text-align: center;
    color: var(--darkblue);
    padding: 0;
  }

  #nav .nav__item:hover {
    color: var(--green);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px var(--green) solid;
  }

  .mibile-log {
    display: none;
  }

  .main-genpage .firstslide-content {
    font-size: 30px;
  }

  .main-genpage .firstslide-content p {
    font-size: 25px;
    width: 600px;
  }

  .main-genpage .firstslide {
    margin-top: 30px;
  }

  .main-genpage .measuring-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .filter-wrapper .selectors select {
    width: 200px;
  }
}

@media (min-width: 801px) {
  #nav {
    height: 50px;
  }
}

@media (min-width: 850px) {
  .main-genpage .thirdslide-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .main-genpage .thirdslide-text {
    width: 450px;
    text-align: start;
    margin-right: 40px;
  }
}

@media (min-width: 900px) {
  .main-genpage .contacts-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }

  .main-genpage .contacts-wrapper h1 {
    text-align: start;
  }

  .main-genpage .contacts .map-wrapper {
    margin-left: 150px;
  }
}

@media (min-width: 970px) {
  .store-filter_discard {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 24px;
  }
}

@media (min-width: 1000px) {
  .main-genpage .fourthslide_content-wrapper h1 {
    font-size: 45px;
    line-height: 40px;
    max-width: 1185px;
  }
}

@media (min-width: 1024px) {
  .main-genpage .secondslide-wrapper {
    width: 950px;
  }

  .main-genpage .seventhslide {
    height: 920px;
  }

  .main-genpage .seventhslide-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }

  .main-genpage .seventhslide-header svg path {
    fill: rgba(255, 255, 255, 0.664);
  }

  .main-genpage .seventhslide-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 140px;
    height: 60px;
    background-color: var(--green);
  }

  .main-genpage .seventhslide-nav div {
    margin: auto;
  }

  .main-genpage .seventhslide-nav div:hover path {
    fill: white;
  }

  .main-genpage .seventhslide .news-wrapper {
    width: 800px;
  }

  .main-genpage .seventhslide .news-slide {
    width: 360px !important;
  }

  .ceo-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .ceo-bio {
    text-align: start;
    padding: 0 20px;
  }

  .ceo-bio h1 {
    margin: 0;
  }

  .ceo-bio p {
    width: 400px;
  }

  .ceo-hist {
    margin: 0;
    height: 502px;
  }

  .ceo-hist p {
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .main-genpage .fifthslide_slides {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .main-genpage .fifthslide_slides .slide {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (min-width: 1280px) {
  .main-genpage .secondslide-wrapper {
    width: 1200px;
  }

  .main-genpage .thirdslide-video {
    width: 700px;
  }

  .main-genpage .seventhslide .news-wrapper {
    width: 1100px;
  }

  .main-genpage .contacts .map-wrapper {
    width: 700px;
  }
}

@media (min-width: 1360px) {
  .main-genpage .firstslide-content {
    font-size: 62px;
  }

  .main-genpage .firstslide-content h1 {
    margin-bottom: 40px;
  }
}

@media (max-width: 950px) {
  .gal-wrapper {
    display: none;
  }
}

@media (max-width: 949px) {
  .GallerySwiper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 800px) {
  .footer-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-top .nav__item {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-top .sale {
    display: none;
  }

  .header-top .socialnet-wrapper {
    display: none;
  }

  .header-top .reg-wrapper {
    display: none;
  }

  .header-main-wrapper {
    display: none;
  }

  .header-purchase2 {
    display: inline-block;
  }
}

@media (max-width: 700px) {
  .footer-bot {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  .footer-bot {
    font-size: 6px;
  }
}